[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-docker = "*"
docker-compose = "*"

[packages]
flask = "*"
flask-restful = "*"
fhirclient = "*"
neo4j-driver = "*"
#flask-on-fhir = "*"
flask-on-fhir = {editable = true, path = "/Users/djiao1/Projects/jiaola/flask-on-fhir"}
pymongo = "*"
neotime = "*"
py2neo = "*"
fhirbase = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
